body {
  margin: 0;
}

.gif-container {
  min-height: 100vh;
  max-width: 1300px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  margin: 0 auto;
}

.gif-container img {
  margin: 10px 10px;
}